/* ---- este é o sistema de Escalas para o visual do site, sempre vai estar descrito no CSS "obs: geralmente vem do setor ou alguém que desenvolva o Disign pronto"  ------ */
/* Sistema de tamanhos - https://typescale.com/
Fontes - Minor Third - 1.200 - Em PX
4.4 - 5.4 - 6.4 - 7.7 - 9.2 - 11.1 - 13.3 - 16 - 19.2 - 23 - 27.6 - 33.2 - 39.8 - 47.8 - 57.3 - 68.8 - 82.6

Espaçamentos - Major Third - 1.250 - Em PX
2.1 - 2.7 - 3.3 - 4.2 - 5.2 - 6.5 - 8.2 - 10.2 - 12.8 - 16 - 20 - 25 - 31.2 - 39 - 48.8 - 61 - 76.3 - 95.4 - 119.2
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #404040;
  background-color: #dee1e4;
  font-size: 1.6rem;
  line-height: 1.4;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

h1 {
  /* quanto maior o texto menor o line-height "o padrão está no body 1.4 */
  font-size: 2.76rem;
  line-height: 1;
  font-weight: 600;
  text-align: justify;
  letter-spacing: 0.2rem; /* espaços entre as letras */
}

h2 {
  font-size: 2.3rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.92rem;
  line-height: 1.2;
}

p {
  line-height: 1.2;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
  text-decoration-color: inherit;
  color: inherit;
}

.section {
  display: flex;
  flex-flow: column;
  gap: 3.3rem;
  padding: 4.88rem;
  padding-bottom: 0;
}

.container {
  width: 115rem;
}

.box-section {
  display: flex;
  flex-flow: column;
  padding: 2.1rem;
  background-color: #ffffff;
  box-shadow: 0 0 0.6rem 0.2rem rgb(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

.botao {
  text-decoration: none;
  text-align: center;
  font-size: 1.92rem;
  font-weight: 600;
  background-image: linear-gradient(90deg, #94aebc, #c5cacf);
  border-right-color: #404040;
  border-right: solid 0.3rem;
  border-bottom: solid 0.3rem;
  border-radius: 0.5rem;
  padding: 0.52rem 2.1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.botao-ativo:hover,
.botao-ativo:active {
  border-color: #404040;
  background-image: none;
  background-color: #404040;
  color: #94aebc;
}

/* CABEÇALHO */
header {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: sticky;
  z-index: 999;
  background-color: #404040;
  color: #f4f5f7;
  gap: 2.1rem;
  padding: 1.28rem 2.1rem;
}

img {
  width: 100%;
}

.logo {
  width: 10rem;
}

/* Menu Principal */
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2.1rem;
  list-style: none;
}

li a {
  color: #f4f5f7;
  font-weight: 500;
  /* deixando a aparência mais leve */
  opacity: 0.85;
  transition: opacity 0.2s ease, text-decoration 0.2s ease;
}

li a:hover {
  /* fica mais forte no hover */
  /* opacity: 1; */
  text-decoration: underline;
  color: #ff2f01;
}

.sub-menu::after {
  content: "\2BC6";
}

/* Submenu */
.sub-menu ul {
  display: none;
  flex-flow: column;
  gap: 0rem;
  background-color: #535353;
  border-radius: 0.5rem;
  position: absolute;
  align-items: stretch;
  width: 20rem;
  box-shadow: 0 0 0.8rem 0.3rem rgb(0, 0, 0, 0.15);
  z-index: 9999;
  transform: translate(-20%);
}

.sub-menu ul li {
  border-bottom: solid 0.2rem #dee1e42a;
  padding: 0.5rem 2rem;
}

.sub-menu:hover ul {
  display: flex;
}

/* ultimo elemento da lista */
.sub-menu ul li:last-child {
  border-bottom: none;
}

/*SEÇÃO EVENTOS */

.container-eventos {
  display: flex;
  align-items: center;
}

.container-banners {
  display: flex;
  justify-content: center;
  gap: 2.1rem;
}

.box-banner {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  width: 30%;
  background-color: #ffffff;
  box-shadow: 0 0 0.6rem 0.2rem rgb(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

.botao-navegador {
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
}

.box-banner span {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

/* SECAO FILIE-SE */
/* dá pra usar na secao ultimas */
.box-padrao {
  display: flex;
  gap: 2.7rem;
  border-radius: 0.5rem;
  padding: 2.1rem;
  box-shadow: inset 0rem 0rem 1rem 0rem rgb(0, 0, 0, 0.15);
}

.box-filiar {
  flex-flow: column;
  align-items: center;
  margin-bottom: 2.7rem;
}

.filiacao {
  display: flex;
  flex-flow: column;
  gap: 2.1rem;
}

.filiacao p {
  text-align: justify;
}

.botao-filiar {
  width: 30rem;
}

.box-filiadas {
  flex-flow: column;
}

form {
  display: flex;
  flex-flow: row;
  gap: 2.1rem;
  flex-direction: column;
  align-items: center;
}

input {
  text-align: center;
  font-family: inherit;
  font-size: inherit;
}

input:hover {
  color: #404040;
  border-width: 0.2rem;
  box-shadow: 0rem 0rem 1rem 0rem #a0b5c1;
}

/* SEÇÃO ULTIMAS NOTÍCIAS */
.section-ultimas {
  padding-bottom: 4.88rem;
}

.ultimas {
  flex-flow: column;
}

.box-ultimas {
  justify-content: space-around;
  flex-flow: row;
  gap: 2.7rem;
}

/* RODAPÉ */
footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #404040;
  color: #f4f5f7;
}

.section-footer {
  display: flex;
  gap: 2.7rem;
}

.container-contatos {
  display: flex;
  align-items: center;
  gap: 2.7rem;
}

.box-sigam-contatos {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1.5rem;
}

.box-links {
  display: flex;
  gap: 2.1rem;
}

.logo-footer {
  margin: 2.7rem;
  width: max-content;
}

.span-footer {
  padding: 1.5rem;
}

.a-contatos {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

svg {
  width: 5rem;
}

.contato-whatsapp:hover {
  color: #25d366;
}

.contato-email:hover {
  color: #793df8;
}

.redes-youtube:hover {
  color: #ff0033;
}

.redes-instagram:hover {
  /* background-color: linear-gradient(46deg, #f9ce34, #ee2a7b, #6228d7); */
  color: #ee2a7b;
}

.redes-facebook:hover {
  color: #0866ff;
}

.strong-developer {
  color: #ff2f01;
  font-weight: 400;
}

.a-devolper {
  color: #d23f1e;
}
